
.banner {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/SCSS/IMAGES/banner.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}

.banner__heading {
    font-size: 3rem;
    color: #f2f2f2;
    
}